<!DOCTYPE html>
<html>
  <head>
    <title>Interest</title>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:title" content="Interest" />
    <meta property='og:image' content="<%= image_url('SS_1.jpg') %>"/>
    <meta property="og:description" content="A full stack Pinterest clone built on Ruby on Rails and Postgres on the backend with JavaScript and React on the front end." />
    <meta property="og:url" content="https://interest-fsp.herokuapp.com/" />
  </head>
  <script type="text/javascript">
    window.logo = "<%= image_url('logo.png')  %>";
    window.arrowDown = "<%= image_url('arrow-down.png')  %>";
    window.arrowDropDown = "<%= image_url('arrow-dropdown.png')  %>";
    window.arrowLeft = "<%= image_url('arrow-left.png')  %>";
    window.arrowRight = "<%= image_url('arrow-right.png')  %>";
    window.arrowUpRight = "<%= image_url('arrow-up-right.png')  %>";
    window.arrowUp = "<%= image_url('arrow-up.png')  %>";
    window.bell = "<%= image_url('bell.png')  %>";
    window.ellipse = "<%= image_url('ellipse.png')  %>";
    window.messageCircle = "<%= image_url('message-circle.png')  %>";
    window.plus = "<%= image_url('plus.png')  %>";
    window.questionMark = "<%= image_url('question-mark.png')  %>";
    window.search = "<%= image_url('search.png')  %>";
    window.share = "<%= image_url('share.png')  %>";
    window.userIcon = "<%= image_url('user-icon.png')  %>";
  </script>
  <body>
    <%= yield %>
  </body>
</html>
